<nav class="navbar navbar-expand-lg shadow-lg">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="/">
            <img src="./images/logo.png" alt="Logo" height="48px">
        </a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link " href="/">Αρχική</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="artists_gr.html">Καλλιτέχνες/Ομιλητές</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="mathematicians_gr.html">Μαθηματικοί</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="manifesto_gr.html">Μανιφέστο</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link lang-switcher" href="artists.html"><img src="./images/flags/fr-flag.svg" width="24" /></a>
                </li>

                <!-- <li class="nav-item">
                      <a class="nav-link" href="contact.html">Contact</a>
                  </li> -->
            </ul>
        </div>

    </div>
</nav>

<script src="js/jquery.min.js"></script>
<script src="js/navigation.js"></script>