<footer class="site-footer section-padding">

    <div class="container">

        <div class="row">

            <div class="col-12">
                <h4 class="text-white mb-4 me-5">Festum π</h4>
            </div>

            <div class="col-lg-4 col-md-7 col-xs-12 tooplate-mt30">
                <h6 class="text-white mb-lg-4 mb-3">Τοποθεσία</h6>

                <p>Σάμος</p>

                <a href="https://www.google.com/maps/place/Samos/@37.7247784,26.7477011,12z/data=!3m1!4b1!4m5!3m4!1s0x14bc3f9fd1d780f5:0x4ba91c89f2bbdc7f!8m2!3d37.7547857!4d26.9777701"
                    class="custom-btn btn btn-dark mt-2">Οδηγίες</a>
            </div>

            <div class="col-lg-4 col-md-5 col-xs-12 tooplate-mt30">
                <h6 class="text-white mb-lg-4 mb-3">Επικοινωνία</h6>

                <p>Οργάνωση, Μουσική:</p>
                <p class="mb-2 text-light">Dionysios Dervis-Bournias</p>

                <p>107, rue d'Aboukir - 75002 Paris </p>

                <p>Mail: <a href="mailto:ddb@festumpi.eu" class="mail-link">dervis-bournias@wanadoo.fr</a></p>

                <p>Tel: <a href="tel:0033607775158" class="tel-link">+(33) 6 07 77 51 58</a></p>

                <p>Μαθηματικά:</p>
                <p>
                    Κώστας Χουσιάδας:
                    <a href="mailto:housiada@aegean.gr" class="mail-link">housiada@aegean.gr</a>
                    <br />
                    Βασίλης Μεταφτσής:  
                    <a href="mailto:vmet@aegean.gr" class="mail-link">vmet@aegean.gr</a>
                </p>
            </div>

            <div class="col-lg-4 col-md-6 col-xs-12 tooplate-mt30">
                <h6 class="text-white mb-lg-4 mb-3">Σύνδεσμοι</h6>

                <ul class="social-icon">
                    <li><a href="https://www.facebook.com/festum.pi/" class="social-icon-link bi-facebook"></a></li>

                    <!-- <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                    <li><a href="https://twitter.com/search?q=tooplate.com&src=typed_query&f=live" target="_blank"
                         class="social-icon-link bi-twitter"></a></li> -->

                    <li><a href="https://www.youtube.com/channel/UCtluhEFB_AxyqFrO_n7NhwA"
                            class="social-icon-link bi-youtube"></a></li>
                </ul>

                <p class="copyright-text tooplate-mt60">Copyright © 2023
                    <!-- <br>Design: <a rel="nofollow" href="https://www.tooplate.com/" target="_blank">Tooplate</a></p> -->

            </div>

        </div><!-- row ending -->

    </div><!-- container ending -->

</footer>
